<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="turbase" connectionString="Data Source=10.137.203.94,1433\SQLEXPRESS;Initial Catalog=pr-21.103k-Individual-va;Persist Security Info=True;User ID=21.103k-06;Password=Passw0rd"
		   providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
